h1 {
    font-size: 60px;
    text-align: center;

}

h2 {
    font-size: 50px;
    text-align: center;

}

.paragrafo {
    text-align: justify;
    font-size: 20px;
    padding: 30px;
}
.paragrafo a {
    text-decoration: none;
    color:  rgb(179, 95, 0);;
}

.paragrafo a:hover {
    color: rgb(204, 156, 0);
}

ul li {
    font-size: 20px;
}

/* diminuir tamanho da img V */
main img {
    max-width: 50%;
    max-height: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



/* ajustes responsividade  */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .paragrafo {
        font-size: 18px;
        padding: 15px;
    }

    img {
        float: none ;
        padding: 15px ;
    }

    ul li {
        font-size: 18px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .paragrafo {
        font-size: 16px;
        padding: 10px;
    }
}
