.introducao h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}




.introducao p {
    text-align: justify;
    font-size: 22px;
    line-height: 1.5;
    padding: 50px;
    position: relative;
    text-indent: 30px;
}

.introducao h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;

}

.fundo {
    position: relative;
    padding: 20px;
    margin: 0;
    background-image: url('../img/vitrine.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 46, 0, 0.6);
}

.fundo h1,
.fundo h2,
.fundo p {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.favoritos {
    text-align: center;
    padding: 30px;
}

.favoritos h2 {
    color: rgb(87, 46, 0);
    font-size: 35px;
    margin-bottom: 50px;
}

.card-produto {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 20px;
}

.card-produto img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.card-produto h3 {
    color: rgb(126, 40, 0);
    font-size: 30px;
    margin: 10px;
}

.card-produto p {
    text-align: center;
    font-size: 22px;
}

.horario {
    padding: 30px;
    text-align: center;
}

.horario h2 {
    color: rgb(87, 46, 0);
    font-size: 35px;
    margin-bottom: 40px;
}

.horario p {
    font-size: 22px;
    margin: 10px 0;
}
